<section>
    <p id="p_temperature">Affichage de la température : <span id="span_temperature"></span></p>
</section>

<table border="1">
    <tr><th colspan="2">Historique</th></tr>
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Nom</th>
        <th>Température</th>
    </tr>
    <tr id="ligne_modele" class="tr_ligne">
        <td class="td_date"></td>
        <td class="td_type"></td>
        <td class="td_name"></td>
        <td class="td_temperature"></td>
    </tr>
</table>