* {
    font-family: Consolas, monaco, monospace;
}

body {
    margin: 0;
}
header {
    position: fixed;
    margin: 0;
    z-index: 2022;
    top: 0;
    width: 100%;
    height: 250px;
}

nav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fcdd08;
    height: 180px;
}

.home {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-left: 3%;
    margin-right: auto;
    transition: 0.2s;
}

.home:hover {
    transform: scale(1.3);
    background-color: #fc3508;
    box-shadow: 0px 0px 10px red;
}

.title {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    font-family: Yeah Papa;
    font-size: 300%;
}

.info {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-left: auto;
    margin-right: 3%;
    transition: 0.2s;
}

.info:hover {
    transform: scale(1.3);
    background-color: #fc3508;
    box-shadow: 0px 0px 10px red;
}

nav a:link {
    text-decoration: none;
}

.container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    font-family: cursive;
    font-size: 125%;
    transition: all 0.2s;
}

#btn_real_time {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 50%;
    /* color: #f6e206; */
    box-shadow: -20px 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.2s;

}

#btn_historic {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 50%;
    /* color: #f6e206; */
    box-shadow: 20px 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.2s;
}

#notifications {
    position: relative;
    display: inline-block;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    border-radius: 30px;
    width: 20%;
    /* color: #f6e206; */
    box-shadow: -20px 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.2s;
}

button:hover {
    color: #fff;
    background-color: #fc3508;
    box-shadow: 0px 0px 20px red;
}

#real {
    position: absolute;
    top: 250px;

}

#histo {
    position: absolute;
    top: 250px;
}

#real {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#dataInt {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: 100px;
    width: 100px;
    border: 1px solid #085dfc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#dataExt {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: 100px;
    width: 100px;
    border: 1px solid #f60606;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

table, th, td {
    border: 1px solid;

}

.blue {
    border: 2px solid blue;
}
    
.green {
    border: 2px solid green;
}
    
.orange {
    border: 2px solid orange;
}
    
.red {
    border: 2px solid red;
}
    
#span_temperature {
    padding: 5px;
}

#ligne_modele {
    visibility: hidden;
}
